header{
    display: flex;
    justify-content: space-between;
    background-color:lightskyblue}

nav {
    display:flex;
    background-color: cornflowerblue;
}

nav a { color: #13293d;
    padding: 14px 20px;
    text-decoration: underline;
    float:right;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    background-color: darkkhaki;
}

.work {
    padding: 20px 10px;
    border: 2px solid #bfbfbf;
    background-color: #fff;
  }


.smaller-image{
    width:650px;
    display: flex;
    padding: 10px; 
    border: cornflowerblue;
    border-width: 40px;
    margin: 15px;
    background-color: darkgoldenrod;}

h1{
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color: red;
    padding-top: 0px;
    margin: 20px;
}

h2{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color: purple;
    padding-top: 0px;
    margin: 20px;
}

h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color: black;
    padding-top: 0px;
    margin: 20px;
}
p{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 0px;
    color: black;
    padding-top: 0px;
    margin: 10px;}

@media screen and (max-width: 768px) 
{
    main, nav {flex-direction: column;}
}