*{margin: 0;
padding:0;
list-style: none;
box-sizing: border-box;}


header{
    display: flex;
    justify-content: space-between;
    background-color:rgb(0, 0, 0);
    min-height: 50px;
}

nav {list-style: none;}

nav {
    display: flex;
    background-color: black;
    float: right;
    width: 50%;
    flex-wrap: wrap;
  }
  
  nav a {
    color: purple;
    padding: 20px 20px;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
  }

body {background:rgb(145, 89, 145);}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
    background-color: rgb(198, 172, 198);}


.smaller-image{
    width:650px;
    display: flex;
    padding: 10px; 
    border: cornflowerblue;
    border-width: 40px;
    margin: 15px;
    background-color: purple;
}

/* .sample.surfreport{ width:650px;
    display: flex;
    padding: 10px; 
    border: cornflowerblue;
    border-width: 12000px;
    margin: 15px;
} */

h1{
    font-size: 130px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    width: 100%;
    color:purple;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 20px;
}

h2{
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color:rgb(0, 0, 0);
    padding-top: 0px;
    margin: 0px;
    float: right;
    margin-right: 30px;
}

h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color: black;
    padding-top: 0px;
    margin: 20px;
}


p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 0px;
    color: black;
    padding-top: 0px;
    margin: 10px;}


    /* Need to work on formatting aside to align up with elements in Main */
aside {
        float: left;
        width: 25%;
        /* height: 100%; */
        background:rgb(145, 89, 145);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        padding-left: 10px;
        color: white;
        margin-bottom: 0px;
 }

.aboutme { min-height: 210px;
    margin-bottom: 10%;
    border-right: purple;
    min-height: fit-content;
    border-color: red;
    margin-top: 20%;
    margin-bottom: 20%;
    padding-top: 20%;
    padding-bottom: 20%;

}
.work {min-height: 100px;
    margin-bottom: 50px;
    border-right: purple;
    margin-top: 20%;
    margin-bottom: 10%;
    padding-top: 20%;
    padding-bottom: 10%;

}
.contactme {
    min-height: 100px;
    border-right: purple;
    margin-top: 50%;
    margin-bottom: 20%;
    padding-top: 50%;
    padding-bottom: 20%;

}
.backgroundimage h2 { display: block;
    float: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-top: 100px;
    color: purple;
    padding-top: 100px;

}
.abstract { background-image: url("../assets/sharon-mccutcheon-TMwHpCrU8D4-unsplash.jpg");
    width: 100%;
    min-height: 300px;
    margin: 0px;
    background-position: center;
    background-size: cover;
}

.contactinfo ul li {color: black;
    display: inline;
    text-align: center;
    font-size: 36px;
    padding-left: 55px;
    padding-right: 55px;
    text-decoration: underline;
    text-decoration-color:green;

}

/* Need to work on making first image larger than other photos */

#flexbox{display: flex;
flex-wrap: wrap;
margin-top: 3%;


}

.sample {flex: 1 0 300px;
    padding: 10px;
    text-align: center;
}

.sample p {padding: 1px;
    margin: 0px;
    background-color:transparent;
    color: purple;


}

main section p {margin-top: 5%;
}

@media screen and (max-width: 768px) 
{
    body, nav {flex-direction: column;}
}

@media screen and (max-width: 960px) 
{
    body, nav {flex-direction: column;}
}