header{
    display: flex;
    justify-content: space-between;
    background-color:black;
    min-height: 50px;
}

nav ul {list-style: none;}

#nav { margin: 10px;
    width: 100px;
    font-family: sans-serif;
}

#nav li{
    display:block;
    width:120px;
    float: :right;
    margin-right: 15px;}

#nav a {display:inline;
    color:whitesmoke;
    font-size: 30px;}

/* 
    list-style: none;
    display: inline}
}

.nav { float:right;
    margin-left:30px;
    display: inline;}


.nav {color:whitesmoke;
font-size: 30px;
font-family:'Times New Roman', Times, serif;
display: inline;
text-align: center
list-style: none;
} */


/* .headimage{background-image: -moz-linear-gradient();
    width: 100px;;
height: 30px;} */


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    background-color: rgb(198, 172, 198);
}

.smaller-image{
    width:650px;
    display: flex;
    padding: 10px; 
    border: cornflowerblue;
    border-width: 40px;
    margin: 15px;
    background-color: darkgoldenrod;}

h1{
    font-size: 130px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    width: 100%;
    color:purple;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 20px;
}

h2{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color: purple;
    padding-top: 0px;
    margin: 20px;
}

h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    color: black;
    padding-top: 0px;
    margin: 20px;
}
p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 0px;
    color: black;
    padding-top: 0px;
    margin: 10px;}

aside {
        float: left;
        width: 25%;
        height: 100%;
        background:rgb(145, 89, 145);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        padding-left: 10px;
        }

.aboutme { min-height: 210px;
    margin-bottom: 50px;
    border-right: purple;

}
.work{min-height: 100px;
    margin-bottom: 50px;
    border-right: purple;
    padding-bottom: 30px;
}
.contactme {
    min-height: 100px;
    margin-bottom: 50px;
    border-right: purple;
    back: purple;
}
.backgroundimage h2 { display: block;
    float: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-top: 100px;
    color: purple;
    padding-top: 100px;

}
.abstract { background-image: url("../assets/sharon-mccutcheon-TMwHpCrU8D4-unsplash.jpg");
    width: 100%;
    min-height: 300px;
    margin: 0px;
    background-position: center;
    background-size: cover;
}

.contactinfo ul li {color: black;
    display: inline;
    text-align: center;
    font-size: 36px;
    padding-left: 55px;
    padding-right: 55px;
    text-decoration: underline;
    text-decoration-color:green;

}

@media screen and (max-width: 768px) 
{
    main, nav {flex-direction: column;}
}